.section {
    justify-content: space-between;
    background-color: #fff;
    border-radius: 20px;
    flex: 1;
    margin: 1rem;
    padding: 1rem;
}

.header {
    color: #222;
    font-weight: 700;
    font-size: 1.5rem;
}

.top_container {
    flex-direction: row;
    align-items: center;
}

.back {
    font-size: 1.5rem;
    color: #eb2e4a;
    margin-right: .5rem;
}

.title {
    color: #444;
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: .8rem;
}

.list_item,
.list_item_done {
    margin-top: .4rem;
    margin-left: .7rem;
    color: #777;
}

.list_item_done {
    text-decoration: line-through;
}

.li_number {
    font-weight: 700;
}

.member {
    color: #eb2e4a;
}

.scan {
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 1rem;
}

.bottom {
    margin-top: .5rem;
    background-color: #eb2e4a;
    border-radius: 20px;
}

.guideline {
    text-align: center;
    font-weight: 600;
    font-size: 1.4rem;
    color: #fff;
    padding: .3rem .3rem 0 .3rem;
}

.error {
    color: #eb2e4a;
}