.section {
    justify-content: space-between;
    background-color: #fff;
    border-radius: 20px;
    flex: 1;
    margin: 1rem;
}

.header {
    color: #222;
    font-weight: 700;
    font-size: 1.5rem;
}

.top {
    margin: 1rem;
}

.top_container {
    flex-direction: row;
    align-items: center;
}

.back {
    font-size: 1.5rem;
    color: #eb2e4a;
    margin-right: .5rem;
}

.title {
    color: #444;
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: .8rem;
}

.list_item,
.list_item_done {
    margin-top: .4rem;
    margin-left: .7rem;
    color: #777;
}

.list_item_done {
    text-decoration: line-through;
}

.li_number {
    font-weight: 700;
}

.member {
    color: #eb2e4a;
}

.scanQR {
    flex: 1;
    margin: 1.5rem;
}

.guideline {
    text-align: center;
    font-weight: 800;
    font-size: 1.4rem;
    color: #eb2e4a;
    text-decoration: underline;
}

.error {
    color: #eb2e4a;
}

.scan_pressable {
    position: absolute;
    bottom: 2rem;
    background-color: #eb2e4a;
    border-radius: 5px;
    margin-top: .5rem;
    width: 10rem;
    align-self: center;
}

.scan_btn {
    color: #fff;
    font-weight: 600;
    text-align: center;
    padding: .5rem 1rem;
}